name: Release

on:
    push:
        branches:
            - main

jobs:
    get-version:
        runs-on: ubuntu-latest
        outputs:
            version: 0.${{ steps.gitversion.outputs.major }}.${{ steps.gitversion.outputs.minor }}-${{ steps.gitversion.outputs.patch }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup .NET (for GitVersion)
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: "8.0.x"

            - name: Install GitVersion
              uses: gittools/actions/gitversion/setup@v0.11.0
              with:
                  versionSpec: "5.x"

            - name: Run GitVersion
              id: gitversion
              uses: gittools/actions/gitversion/execute@v0.11.0

            - name: Output version
              run: |
                  echo "GitVersion returned: ${{ steps.gitversion.outputs.semVer }}"
                  echo "version = 0.${{ steps.gitversion.outputs.major }}.${{ steps.gitversion.outputs.minor }}-${{ steps.gitversion.outputs.patch }}"

    release:
        runs-on: ubuntu-latest
        needs: [get-version]
        permissions:
            contents: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Create Git Tag
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"
                  git fetch --tags
                  git tag v${{ needs.get-version.outputs.version }}
                  git push origin v${{ needs.get-version.outputs.version }}

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v1
              with:
                  tag_name: v${{ needs.get-version.outputs.version }}
                  name: Release v${{ needs.get-version.outputs.version }}
                  generate_release_notes: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
